# 1

In [1]:
def analyze_numbers(numbers):
    if not numbers:
        print("Empty list")
        return

    total = sum(numbers)
    maximum = max(numbers)
    minimum = min(numbers)
    average = total / len(numbers)

    print("Sum:", total)
    print("Max:", maximum)
    print("Min:", minimum)
    print("Mean:", average)


# Example usage:
numbers = [1, 2, 3, 4, 5]
analyze_numbers(numbers)

Sum: 15
Max: 5
Min: 1
Mean: 3.0

# 2

In [2]:
def has_common_member(list1, list2):
    common_elements = set(list1) & set(list2)
    return bool(common_elements)


# Example usage:
list1 = ["Tom", "Bob", "Sue", "Rachel"]
list2 = ["Bob", "Susan", "Roger", "Mike"]
print(has_common_member(list1, list2))

True

# 3

In [4]:
def combine_dictionaries(d1, d2):
    combined_dict = {}

    for key in d1:
        combined_dict[key] = d1[key]

    for key in d2:
        if key in combined_dict:
            combined_dict[key] += d2[key]
        else:
            combined_dict[key] = d2[key]

    return combined_dict


# Example usage:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
combined_dict = combine_dictionaries(d1, d2)
print(combined_dict)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# 4

In [5]:
def fizzbuzz():
    for num in range(1, 101):
        if num % 3 == 0 and num % 5 == 0:
            print("FizzBuzz")
        elif num % 3 == 0:
            print("Fizz")
        elif num % 5 == 0:
            print("Buzz")
        else:
            print(num)


# Example usage:
fizzbuzz()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# 5

In [6]:
import re

def validate_password(password):
    if len(password) < 6 or len(password) > 16:
        return False

    if not re.search(r"[a-z]", password):
        return False

    if not re.search(r"[A-Z]", password):
        return False

    if not re.search(r"\d", password):
        return False

    if not re.search(r"[$#@]", password):
        return False

    return True


# Example usage:
password = input("Enter your password: ")
is_valid = validate_password(password)
print("Password is valid:", is_valid)

Enter your password: dimasws
Password is valid: False

# 6

In [7]:
def get_unique_elements(input_list):
    unique_list = list(set(input_list))
    return unique_list


# Example usage:
sample_list = [1, 2, 3, 3, 3, 3, 4, 5]
unique_list = get_unique_elements(sample_list)
print(unique_list)

[1, 2, 3, 4, 5]

# 7

In [8]:
import math

def calculate_hypotenuse(height, base):
    hypotenuse = math.sqrt(height ** 2 + base ** 2)
    return hypotenuse


# Example usage:
height = 3
base = 4
hypotenuse = calculate_hypotenuse(height, base)
print("Hypotenuse length:", hypotenuse)

Hypotenuse length: 5.0

# 8

In [9]:
def calculate_scrabble_score(word):
    letter_values = {
        'A': 1, 'B': 3, 'C': 3, 'D': 2, 'E': 1, 'F': 4, 'G': 2, 'H': 4,
        'I': 1, 'J': 8, 'K': 5, 'L': 1, 'M': 3, 'N': 1, 'O': 1, 'P': 3,
        'Q': 10, 'R': 1, 'S': 1, 'T': 1, 'U': 1, 'V': 4, 'W': 4, 'X': 8,
        'Y': 4, 'Z': 10
    }

    score = 0
    for letter in word.upper():
        score += letter_values.get(letter, 0)

    return score


# Example usage:
word = "Cabbage"
score = calculate_scrabble_score(word)
print("Scrabble score for", word, "is", score, "points.")

Scrabble score for Cabbage is 14 points.

# 9

In [10]:
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)


# Example usage:
num1 = 60
num2 = 48
result = gcd(num1, num2)
print("GCD of", num1, "and", num2, "is:", result)

GCD of 60 and 48 is: 12

In [ ]:
# DImas