## Week 3

### 1) Write a Python program/function to print the sum, largest number, smallest number, average of the numbers in a list.eg. [1,2,3,4,5]

Sum: 15 

Max: 5 

Min: 1 

Mean: 3

In [13]:
def print_list_info(input_list):
    max_num = max(input_list)
    min_num = min(input_list)
    sum_total = sum(input_list)
    mean = sum_total / len(input_list)
    print('''
        Sum: {}
        Max: {}
        Min: {}
        Mean: {:.2f}
    '''.format(sum_total,max_num,min_num,mean))

In [14]:
#Test
print_list_info([1,2,3,4,5])
print_list_info([1,2,3,4,5,1,2,3,4,5])

        Sum: 15
        Max: 5
        Min: 1
        Mean: 3.00


        Sum: 30
        Max: 5
        Min: 1
        Mean: 3.00

### 2) Write a Python function that takes two lists and returns True if they have at least one common member.

eg. [“Tom”, “Bob”, “Sue”, “Rachel”],  [“Bob”, “Susan”, “Roger”, “Mike”]returns true as Bob is common.

In [17]:
def have_common_memeber(input_list_1, input_list_2):
    for item in input_list_1:
        if item in input_list_2:
            return True
    
    return False

In [21]:
have_common_memeber(['Tom', 'Bob', 'Sue', 'Rachel'],['Bob', 'Susan', 'Roger', 'Mike'])

True

In [22]:
have_common_memeber(['Tom', 'Sue', 'Rachel'],['Bob', 'Susan', 'Roger', 'Mike'])

False

#### 3) Write a Python program/function to combine two dictionary adding values for common keys.

eg.

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [23]:
def combine_dictionary(dict_1, dict_2):
    result = dict_1
    for key in dict_2:
        if key in result:
            result[key] += dict_2[key]
        else:
            result[key] = dict_2[key]
    return result

In [24]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
combine_dictionary(d1,d2)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

#### 4) Write a Python program/function which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

Sample Output :
fizzbuzz

1

2

fizz

4

buzz

In [29]:
def fizzbuzz():
    for i in range(1,101):
        if i % 5 == 0 and i % 3 == 0:
            print('FizzBuzz')
        elif i % 5 == 0:
            print('Buzz')
        elif i % 3 == 0:
            print('Fizz')
        else:
            print(i)

In [30]:
fizzbuzz()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

#### 5) Write a Python program/function to check the validity of password input by users.
Validation :•

- At least 1 letter between [a-z] and 1 letter between [A-Z]
- At least 1 number between [0-9]
- At least 1 character from [$#@]
- Minimum length 6 characters.
- Maximum length 16 characters

In [31]:
def validate_password(input_password):
    characters = 'abcdefghijklmnopqrstuvwxyz'
    upper_character = characters.upper()
    number = '1234567890'
    symbol = '$#@'
    min_length = 6
    max_length = 16
    
   
        
    has_lower = False
    has_upper = False
    has_number = False
    has_symbol = False
    has_correct_length = False
    
    password_length = len(input_password)
    if password_length >= min_length and password_length <= max_length:
        has_correct_length = True
    
    
    for ch in input_password:
        if ch in characters:
            has_lower = True
        
        if ch in upper_character:
            has_upper = True
        
        if ch in number:
            has_number = True
        
        if ch in symbol:
            has_symbol = True
    
    if not has_lower:
        print('Password must has at least 1 letter between [a-z]')
    if not has_upper:
        print('Password must has at least 1 letter between [A-Z]')
    if not has_number:
        print('Password must has at least 1 number between [0-9]')
    if not has_symbol:
        print('Password must has at least 1 character from [$#@]')
    if not has_correct_length:
        print('Password must be within 6 and 16 characters long')
        
        
    return has_lower and has_upper and has_number and has_symbol and has_correct_length

In [32]:
validate_password("121341241")

Password must has at least 1 letter between [a-z]
Password must has at least 1 letter between [A-Z]
Password must has at least 1 character from [$#@]

False

In [33]:
validate_password("Avb$121341241")

True

In [34]:
validate_password("Ab$11")

Password must be within 6 and 16 characters long

False

#### 6) Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [35]:
def unique_list(input_list):
    return list(set(input_list))

In [36]:
unique_list([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

#### 7) Write a function which calculates the length of a hypotenuse of a right angle triangle given height and base.

Hint: Pythagorean theorem

In [38]:
def calc_hypotenuse(base,height):
    return (base ** 2 + height ** 2)**0.5

In [39]:
calc_hypotenuse(3,4)

5.0

#### 8) Scrabble score:Given a word, compute the Scrabble score for that word where the values are as follows
Letter                          Value

A, E, I, O, U, L, N, R, S, T      1

D, G                              2

B, C, M, P                        3

F,   H ,   V,   W,   Y            4

K                                 5

J, X                              8

Q, Z                              10

eg. “Cabbage” is worth 14 points

In [41]:
def calc_scrabble_score(input_text):
    score_dict = {
        'A': 1,
        'B': 3,
        'C': 3,
        'D': 2,
        'E': 1,
        'F': 4,
        'G': 2,
        'H': 4,
        'I': 1,
        'J': 8,
        'K': 5,
        'L': 1,
        'M': 3,
        'N': 1,
        'O': 1,
        'P': 3,
        'Q': 10,
        'R': 1,
        'S': 1,
        'T': 1,
        'U': 1,
        'V': 4,
        'W': 4,
        'X': 8,
        'Y': 4,
        'Z': 10,
        }
    score = 0
    for ch in input_text.upper():
        score += score_dict[ch]
    return score

In [42]:
calc_scrabble_score('Cabbage')

14

#### 9) Write a Python program to find thegreatest common divisor(gcd) of two integers.

Hint: this is a recursive function

In [46]:
def find_gcd(number_1, number_2):
    if(number_2 == 0):
        return abs(number_1)
    else:
        return find_gcd(number_2, number_1 % number_2)

In [47]:
find_gcd(100,200)

100